body{
    background-image: radial-gradient(#55555569 1px, transparent 1px);
    background-size: 32px 32px;
    background-color: #181818;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    scroll-behavior: smooth;
}

.card{
    background-color: #55555555;
}

.inputt{
    background-color: #55555560;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background-color: #55555555;
    border-radius: 6px;
    border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #313131;
}