body {
    background: #121212;
}

.navbar {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: #35353535;
}

.input {
    background: #121212;
}

.card {
    background: #202020;
}

.proj {
    background: -webkit-radial-gradient(#eee, #414141);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 7px rgba(185, 185, 185, 0.7);
}