body {
    /* background: #121212; */
    width: 100%;
    min-height: 100vh;
    background-image: url(/dark.png);
}

.navbar {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: #35353535;
}

.input {
    background: #121212;
}

.card {
    /* background: #202020; */
    background: #55555580;
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); */
}

.proj {
    background: -webkit-radial-gradient(#eee, #414141);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 7px rgba(185, 185, 185, 0.7);
}