body{
  background: #202020;
}

.navbar{
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: #35353535;
}

.skills{
  background: #202020;
}

.card{
  background: #151515;
}